@page "/fetchdata"
@using BlazorWebAssembely.Shared
@using Microsoft.EntityFrameworkCore
@inject IPlayersService PlayersService

<PageTitle>Players</PageTitle>

<h1>Players</h1>

<PlayersTable></PlayersTable>

@code {
    
}
